/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

#xmlPanel {
    height:72vh;
    overflow: auto;
    background-color: white;
   margin: 10px;
    font-family: 'Philosopher',Verdana,sans-serif;
    line-height: 1.8;
    font-size: large;
}

/*don't display title in xml panel*/
#xmlPanel h1 {
display:none;
            }

#contentBox {
    background-color: black;
}

header {
    color: #fdf5e6;
    background-color: #1c1d22;
    opacity: 0.6;
    padding: 3px;
    font-family: 'Philosopher',Verdana,sans-serif;
    font-weight: 200;
    font-size: larger;
    padding-left: 20px;
}

footer {
    background-color: #646e83;
    color: #fdf5e6;
    padding: 1px;
    padding-left:20px;
}

footer h6 {
    font-size: medium;
}

/* navbar styling */
.navbar {
    background-color: #646e83;
  }

.navbar a {
    font-family: 'Philosopher',Verdana,sans-serif;
    color: #fdf5e6;
    font-size: larger;
}

.dropdown .dropbtn {
    font-size: larger;
}

.dropdown-content a {
    color: black;
}

.dropdown .dropbtn:hover {
   background-color: darkblue;
}

.navbar a:hover {
    background-color: darkblue;
}

.dropdown-content a:hover {
    background-color: darkblue;
    color: white;
}

.dropdown .dropbtn:visited {
    background-color: darkblue;
}

.dropdown:hover .dropbtn {
    background-color: darkblue;
}




/*Two column structure*/
.column1 {
    float: left;
    width: 67%;
}

.column2 {
    float: right;
    width: 27%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#imageColumn {
    background-color: white;
}

/*Overall width of display panel to give bootstrap-style central panel*/
.container {
    width:70%;
    margin:auto;
}

/*display links as '*' */
a.link_ptr {
  visibility:hidden;
    font-size: xx-small;
}
a.link_ptr::after {
    font-size: medium;
    visibility: visible;
    content: "*";
    text-decoration: none;
    margin-right:5px;
}
